.body {
    background-color: #240115;
}

.input::placeholder {
    color: white;
    text-align: center;
}

.background-container {
    background-color: #240115;
    height: 100%;
    width: 100%;
}

.rows-of-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgbox {
    height: 300px;
    width: auto;
}

.dog-info-text {
    padding: 0pc 10px;
}

.picture-container {
    display: flex;
    flex-direction: row;
    margin: 10px 80px;
    border: solid 5px #FFF8F0;
    border-radius: 10px;
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 16px;
}

.width-control {
    width: 200px;
    display: flex;
}

.justify-center {
    justify-content: space-around;
    align-content: auto;
}

.search-bar {
    background-color: #240115;
    color: white;
}

.upvote-button {
    height: 50px;
    width: 50px;
}

.favorite-button {
    height: 50px;
    width: auto;
}

.fav-alert {
    width: 200px;
    height: 100px;
}

/* swinging animation for button */

