.body {
    background-color: #240115;
}

.nav-bar {
    margin: 0 0;
}

.input::placeholder {
    color: #240115;
    text-align: center;
}

#selector {
    color:#240115;
}

.background-container {
    background-color: #240115;
    height: 100%;
    width: 100%;
}

.rows-of-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgbox {
    height: 300px;
    width: auto;
}

.dog-info-text {
    padding: 0pc 10px;
}

.picture-container {
    display: flex;
    flex-direction: row;
    margin: 10px 80px;
    border: solid 5px #FFF8F0;
    border-radius: 10px;
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 16px;
}

.width-control {
    width: 200px;
    display: flex;
}

.justify-center {
    justify-content: space-around;
    align-content: auto;
}

.search-bar {
    background-color: #240115;
    color: #240115;
}

.upvote-button {
    height: 50px;
    width: 50px;
}

.favorite-button {
    height: 50px;
    width: auto;
}

.fav-alert {
    width: 200px;
    height: 100px;
}

.dog-p {
    color: #240115;
}

/* swinging animation for button */


@media (max-width: 450px) {

    .dog-p {
        color: #240115;
    }

    .rows-of-pics {
        flex-direction: column;
        max-width: 360;
        margin: 10px 10px;
        justify-content: space-around;
    }

    .picture-container {
        flex-direction: column;
        margin: 10px 0px;
        height: 700px;
        
    }

    img {
        max-height: 400px;
        width: auto;
    }

    .dog-info-text {
        font-size: 16px;
        padding: 0px 1px;
        height: 300px;
    }

    .form-control {
        display: none;
    }
}
