<div class="hamburger-menu">
        <div id="btn">
                <div id='top'></div>
                <div id='middle'></div>
                <div id='bottom'></div>
        </div>
        <div id="box">
                <div id="items">
                    
                        <div class="item" ui-sref="home">Home</div>
                        <div class="item" ui-sref="upload">Dog Spot</div>
                        <div class="item" ui-sref="voting">Dog Vote</div>
                        <div class="item" ui-sref="adoption">Adoption</div>
                        <div class="item" ng-if="!user.authid"><a id="home-login" href="/login" >Login</a></div>
                        <div class="item" ng-if="user.authid"><a id="home-login" ui-sref="users">My Page</a></div><div class="item" ng-if="user.authid"><a id="home-login" href="/user/logout" >Logout</a></div>
                        
                </div>
        </div>
    </div>
</div>


