

.main-img {
    background-image: url("../../photos/matt-nelson-259365.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 


.photo-cred {
    float: left; 
}

.two-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.white-pacifico {
    color: white;
    font-family: Pacifico; 
}

.text {
    padding-left: 15px;
    transform: rotate(-10deg);

}

.welcome {
    margin-left: 40px;
    font-size: 60px;
    width: 300px;
    color: white;
}

.title {
    font-size: 100px;
    width: 450px;
    margin-left: 40px;
    margin-bottom: 120px;
    color: white;
}

.two-divs {
    display: flex;
    width: 100%;
    height: 600px;
}

.pretty-blue {
    background-color: #002400;
    color:white;
}

.pretty-purple {
    background-color: #240115;
    color:white;
}


.info-section {
    width: 50%;
    height: auto;

}

.mission {
    width: 50%;
    height: auto;

}

.small-circle {
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin: 100px auto;
    padding: 20px 20px;
    
}

.get-started {
    background-image: url("../../photos/alvan-nee-259129.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.actual-opacity {
    background: rgba(0,0,0,0.7);
}

.opacity {
    background: rgba(0,0,0,0.7);
    margin: 50px;
    float: right;
    height: 400px;
}

.getting-started-text {
    opacity: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

a {
    color: #FAEC22;
    text-decoration: none;
}

.dropdown {
    display: none;
}

.hamburger-menu {
    display: none;
}
/* MEDIA STARTS HERE
///
///
/// */
@media (max-width: 375px) {
    
.photo-cred {
        display: none;
}

   
.hamburger-menu {
    display: flex;
}

.nav-bar {
    display: none;
}

.dropdown {
    display: inherit;
}

.main-container-div {
    width: 375px;
}

.welcome {
    margin-left: 40px;
    font-size: 40px;
    width: 300px;
    color: #FAEC22;
    margin-top: 50px;
}

.title {
    font-size: 70px;
    width: 300px;
    margin-left: 40px;
    margin-bottom: 120px;
    color: #FAEC22;
}

.main-img {
    height: 400px;
}

.text {
    transform: rotate(0deg);
}

.small-circle {
    overflow: scroll;
    width: 150px;
}

.small-mission-side {
    display: none;
}

.getting-started {
    float: left;
    width: 300px;
    margin-left: 40px;
}

.small-info-side {
    width: 300px;
    margin-left: 40px;
}

.small-get-started-side {
    width: 300px;
    margin-left: 40px;
}

::-webkit-scrollbar-track {
    background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: #FAEC22;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

}