.container-div {
    background-image: url('../../photos/james-bold-287536.jpg');
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    justify-content: space-between;
    height: 400px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.img-box {
    height: 500px;
    width: auto; 
    margin: 50px 50px;
    border: solid 5px #240115;
    border-radius: 10px;
}

.btn {
    background-color: #A07178;
    color: white;
}

input {
    border: 3px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 

    background: rgba(255,255,255,0.5);

}