<nav-bar-dir></nav-bar-dir>
<hamburger-dir></hamburger-dir>
<div class="purple-background"></div>
<div class="container-div">
<div class="columns">
        <div class="alert alert-danger give-me-space" ng-if="!user.authid">
                <strong>Stop!</strong> Please log in before trying to log a dog!
        </div>
<form name="form" class="form-display"
>
        <button class="btn margin-bottom" name="image" ngf-select ng-model="image">Upload image</button>
        <input class="upload-input" type="text" name="Dog Name" ng-model="dogname" placeholder="Dog Name"><br>
        <input class="upload-input" type="text" name="Dog Breed" ng-model="dogbreed" placeholder="Dog Breed"><br>
        <input class="upload-input" type="text" name="Dog Age" ng-model="dogage" placeholder="Dog Age (in years)"><br>
        <input class="upload-input" type="text" name="Dog City" ng-model="dogcity" placeholder="City"><br>
        <input class="upload-input" type="text" name="Dog State" ng-model="dogstate" placeholder="State"><br>
        <button class="btn" ng-click="submit(image, dogname, dogbreed, dogage, dogcity, dogstate)">Submit</button>
        
</form>
<div class="alert alert-success give-me-space" ng-if="user.authid && uploadcheck">
        <strong>Success!</strong> Your information has been dog-logged! 
</div>
        </div>

<img class="img-box" ngf-thumbnail="image">

</div>

