

.blue {
    background-color: #FAEC22;

}

#login {
    color:#240115;
}

.nav-color {
    padding: 10px; 
    width: 100%;
    color: #240115;
    height: 75px;
    font-size: 30px;
}

.yellow {
    background-color: #A07178;
}

.nav-bar {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: Pacifico;
}
.pointy-cursor {
    cursor: pointer;
}