<div class="nav-bar">
    <h1 ui-sref="home" class="nav-color yellow pointy-cursor">Home</h1>
    <h1 ui-sref="upload" class="nav-color blue pointy-cursor">The Dog Log</h1>
    <h1 ui-sref="voting" class="nav-color yellow pointy-cursor">Dog Vote</h1>
    <h1 ui-sref="adoption" class="nav-color blue pointy-cursor">Adoption</h1>
    <h1 class="nav-color yellow pointy-cursor"   ng-if="!user.authid"><a href="/login" id="login">Login</a></h1>
</div>


<!-- <a href="/auth/logout" ng-if="user.authid"><span>logout!</span></a> -->