<nav-bar-dir></nav-bar-dir>
<hamburger-dir></hamburger-dir>

<div class="purple-background">
</div>

<div class="background-color">

<h1 class="welcome-text">Welcome back, {{user.username}}!</h1>

<h5 class="donation-text">Please consider making a donation to the American Society for the Prevention of Cruelty to Animals! Even a small donation can change an animal's life. This button is connected to Stripe for payments, but is non-functional. Please use a dummy card!</h5>
<div class="donation-form-box">
<form>
    <input class="input-box" type="text" ng-model="final" placeholder="Donation Amount">
    <button class="input-box btn btn-sucess" ng-click="openPayment()">Make Donation</button>
</form>
</div>

<h4 class="user-header-text"><br>Favorite Dogs</h4>
<p class="donation-text" ng-if="favmessage">{{favmessage}}</p>
<div class="rows-of-pics">
<div class="flex" ng-class="{wrapper: !isMobile}" ng-repeat="fav in user_favs">

    <img class="imgbox imgbox-favs" src="{{fav.dog_picture}}" alt="" srcset="">
    <div class="disappear-text">
        <p>{{fav.dog_name}}</p>
        <p>{{fav.location_city}}, {{fav.location_state}}</p>
        </div>
</div>
</div>
<h4 class="user-header-text">Uploaded Dogs</h4>
<p class="donation-text" ng-if="dogmessage">{{dogmessage}}</p>
<div class="rows-of-pics">
    <div class="flex" ng-class="{wrapper: !isMobile}" id="remove" ng-repeat="dog in user_dogs">
        <img class="imgbox imgbox-dogs" src="{{dog.dog_picture}}" alt="" srcset="">
        <div class="disappear-text">
            <p>{{dog.dog_name}}</p>
            <p>{{dog.location_city}}, {{dog.location_state}}</p>
        </div>
    </div>
</div>
</div>
