
.background-color {
    background-color: #FFF8F0;
    font-family: Pacifico;
    /* margin: 10px 10px; */
}

.welcome-text {
    margin: 0px 10px;
    padding: 10px 0px;
}

.wrapper {
    height: 300px;
}

.wrapper .disappear-text {
    position: relative;
    left:0px;
    font-size: 22px;
    padding-left: 10px;
    bottom: 100px;
    height: 100px;
    border-radius: 10px;
    color: white;
    font-family: "PT Sans";
    visibility:hidden;
    background: rgba(0,0,0,0.7);
    }
    
.wrapper:hover .disappear-text {
    visibility:visible;
    }

.donation-text {
    font-family: "PT Sans";
    margin: 10px 10px;
}

.user-header-text {
    margin: 10px 10px;
    font-size: 40px;
}

.imgbox-favs {
    border: solid 5px #240115;
    border-radius: 10px;
}

.imgbox-dogs {
    border: solid 5px #240115;
    border-radius: 10px;
}

.donation-form-box {
    height: 100px;
    width: 200px;
    text-align: center;
}

.input-box {
    margin: 10px 500px;
    width: 200px;
    height: 40px;
}

.hamburger-menu {
    display: none;
}


@media (max-width: 375px) {

.photo-cred {
        display: none;
    }

   
.hamburger-menu {
    display: inline;
}
.small-circle {
    overflow: scroll;
}

    .purple-background {
        height: 50px;
        background-color: #240115;
    }

    .welcome-text {
        margin-top: 0px;
    }

    .input-box {
        margin: 10px 10px;
    }
    
    .user-header-text {
        margin: 10px 0px;
    }

    .rows-of-pics {
        margin: 10px 10px;
    }

    .imgbox {
        display: flex;
        max-width: 350px;
        height: auto;
        margin: 10px 10px;
    }

    .disappear-text {
        display: none;
    }

    .background-color {
        width: 375px;
        margin: 0 0;
    }


    
}